= form_for [@group, @message] do |f|
  .new-message
    .input-box
      = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
      = f.label :image, class: 'image-label' do
        = fa_icon 'picture-o', class: 'icon'
        = f.file_field :image, class: 'hidden'
    = f.submit 'Send', class: 'new-message__submit-btn'