.wrapper
  = render "static_pages/side_bar"
  .chat-main
    .main-header
      .left-header
        .left-header__current-group
          = @group.name
        .left-header__member-list
          Member:
          - @group.users.each do |user|
            = user.name
      .right-header
        .right-header__group-edit
          = link_to edit_group_path(@group) do
            .right-header__group-edit__letter
              Edit
    .messages
      = render partial: 'message', collection: @messages
    .form
      = render "form"