.wrapper
  = render "static_pages/side_bar"
  .chat-main
    .main-header
      .left-header
        .left-header__current-group
          = @group.name
        .left-header__member-list
          Member:
          - @group.users.each do |user|
            = user.name
      .right-header
        = link_to "Edit", edit_group_path(@group),class: "right-header__group-edit__letter"
    .messages
      = render partial: 'message', collection: @messages
    .form
      = render "form"